<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Company Logo</h1>
        </div>
        <nav>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Info</a>
            <a href="#">FAQ</a>
            <a href="#">Contact</a>
        </nav>
    </header>

    <section class="hero">
        <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, distinctio modi dolor nobis architecto quod perspiciatis ipsa </h1>
        <p>odit quisquam quia nihil aspernatur autem dicta rerum quam vitae sit ad sint.</p>    
    </section>

    <section class="content">
        <h2>Lorem ipsum dolor sit</h2>
        <div class="row">
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
        </div>
    </section>

    <section class="featured">
        <div class="row">
            <div class="box2">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3>
                <p>  Blanditiis commodi, eligendi perspiciatis maxime eius optio! Odit aspernatur</p>
            </div>
            <div class="box2">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3>
                <p>  Blanditiis commodi, eligendi perspiciatis maxime eius optio! Odit aspernatur</p>
            </div>
            <div class="box2">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3>
                <p>  Blanditiis commodi, eligendi perspiciatis maxime eius optio! Odit aspernatur</p>
            </div>
        </div>
    </section>

    <section class="boxes">
        <div class="box3">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3>
            <p>  Blanditiis commodi, eligendi perspiciatis maxime eius optio! Odit aspernatur</p>
        </div>
        <div class="box3">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3>
            <p>  Blanditiis commodi, eligendi perspiciatis maxime eius optio! Odit aspernatur</p>
        </div>
        <div class="box3">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3>
            <p>  Blanditiis commodi, eligendi perspiciatis maxime eius optio! Odit aspernatur</p>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Company Name. All rights reserved</p>
    </footer>
</body>
</html>