body{
    font-family: Arial, sans-serif;
}

section{
    width: 60%;
    margin: 0 auto;
}

h1{
    font-size: 24px; /*Tamanho da fonte*/
    text-align: center;
    font-weight: bold;
}

form{
        margin-top: 20px; /*Add espaçamento entre os elementos do formulario*/
        
}


/*Adicionando uma borda e paddin para os inputs*/
input, select{
    border: 1px solid #ccc;
    padding: 8px;
    width:100%;
    margin-bottom: 10px;
}

/*Estilizando os labels para ficarem mais visiveis*/
label{
    font-weight: bold;
    
}

button{
    background-color: blue;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

/*Alterando a cor do botão ao passar o mouse*/
button:hover{
    background-color: rgb(22, 212, 133);
}

/*Definindo uma margem para os paragrafos*/
p{
    margin: 10px 0;
}

/*Garantindo que o formulario se ajuste bem em telas menores*/
@media (max-width:600px) {
    section{
        width: 90%
    }
}