body{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center; 
    align-items: center; 
    margin:10px;
    background-color: rgb(250, 239, 225);
    font-family:'Courier New', Courier, monospace;
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    align-items: center;
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 20vh;
    padding: 60px;
    background-color: rgba(0, 132, 255, 0.664);
}


label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    
}

input {
    border-radius: 10px;
    width: 80%;
    font-size: 14px;
    padding: 6px;
    border: 2px solid #ccc;
}

span{
    border: 2px solid black;
    border-radius: 7px;
    width: 15vh;
    font-weight: bold;
    background-color: aliceblue;

}


button{
    margin-top: 10px;
    border-radius: 5px;
    width: 15vh;
    height: 30px;
}